.row {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px #eee;
  margin-top: 90px;
  border-radius: 10px;
}
.nav-pills .nav-link {
  box-shadow: 0 0 20px #eee;
  margin-bottom: 17px;
}
.nav-link {
  display: block;
  padding: 0.5rem 7rem;
}
a {
  background: #fff;
  color: black;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 50px 10px;
  box-shadow: 0 0 20px #eee;
}
.col-9 {
  height: 500px;
}

.container {
  position: relative;
}

.text-success {
  color: #000;
}
